.form-user-signup {
	opacity: 1;
	max-height: 300px;
	font-size: 15px;
	white-space: nowrap;
}

.form-user-signup input {
  width: 195px;
	margin: 4%;
}

.signup-button {
  cursor: pointer;
  font-size: 15px;
  border: 2px solid rgba(211, 211, 211, 0.6);
  padding: 2%;
  margin-bottom: 0%;
}

.signup-button:hover {
  background: rgba(211, 211, 211, .4)
}

.newuserform-appear {
  opacity: 0;
  max-height: 0px;
}

.newuserform-appear.newuserform-appear-active {
  opacity: 1;
  max-height: 300px;
  transition: all 500ms ease-in;
}

/*.newuserform-enter.newuserform-enter-active {
  opacity: 1;
  max-height: 300px;
  transition: all 500ms ease-in;
}

.newuserform-leave {
  opacity: 1;
}

.newuserform-leave.newuserform-leave-active {
  opacity: 0.01;
  max-height: 0;
  transition: all 500ms ease-in;
}
*/