#dropdown {
	text-align: center;
	font-size: 20px;
	width: 200px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	cursor: default;
	margin: 10px auto;
	height: 35px;
	color: black;
	background: white;
	box-shadow: 5px 5px 5px rgba(211,211,211, .5);
	line-height: 35px;

}

#dropdown-content {
	position: absolute;
	max-height: 0px;
	opacity: 1;
	text-align: left;
	background: white;
	width: 100%;
	overflow: hidden;
	transition: all 500ms ease-in;
}

#dropdown-content > * {
	height: 25px;
	font-size: 15px;
	line-height: 25px;
	color: rgb(120,120,120);
	font-weight: bold;
	vertical-align: center;
	padding: 10px;
}

